{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    <li>
      {% if post.authors %}
        {{ post.authors }},
      {% endif %}
      "<a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>",
      <i>{{ post.venue }}</i>,
      {{ post.date | date: "%Y" }}.
      {% if post.note %}
        {{ post.note }}
      {% endif %}
    </li>
  </article>
</div>
